<!DOCTYPE html>
	<html lang=en>
		<head>
			<meta charset=utf-8 />
			<meta http-equiv=X-UA-Compatible content="IE=edge" />
			<meta name=viewport content="width=device-width,initial-scale=1" />
			<link rel=icon href=/favicon.ico />
			<title>
				<%= @prop['school_website_title'] %>
				</title>
				<link href=/css/app.f7e49f21.css rel=preload as=style />
				<link href=/css/chunk-vendors.0c10e621.css rel=preload as=style />
				<link href=/js/app.1775439d.js rel=preload as=script />
				<link href=/js/chunk-vendors.4231c4a4.js rel=preload as=script />
				<link href=/css/chunk-vendors.0c10e621.css rel=stylesheet />
				<link href=/css/app.f7e49f21.css rel=stylesheet />
				<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
				<meta name="description" content="<%= @prop['school_website_description'] %>" />
				<meta name="keywords" content="<%= @prop['school_website_keywords'] %>" />
				<meta name="theme-color" content="<%= @prop['school_website_theme_color'] %>" />
				<meta name="apple-mobile-web-app-status-bar-style" content="<%= @prop['school_website_theme_color'] %>" />
				<meta name="login_title" content="<%= @prop['web_login_title'] %>" />
				<meta name="login_header_title" content="<%= @prop['web_login_header_title'] %>" />
				<meta name="login_header_color_title" content="<%= @prop['web_login_header_color_title'] %>" />
				<meta name="login_header_background_color_title" content="<%= @prop['web_login_header_background_color_title'] %>" />
				<meta property="og:title" content="<%= @prop['school_website_title'] %>" />
				<meta property="og:type" content="website" />
				<meta property="og:description" content="<%= @prop['school_website_description'] %>" />
				<meta property="og:url" content="<%= @prop['web_url'] %>" />
				<meta property="og:image" content="/<%= @prop['web_logo'] %>" />
				<meta property="og:image:type" content="image/<%= @prop['web_logo_type'] %>" />
				<meta property="og:image:width" content="400" />
				<meta property="og:image:height" content="400" />
				<meta property="og:image:alt" content="<%= @prop['school_website_title'] %>" />
				<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
				<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
				<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
				<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
				<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
				<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
				<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
				<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
				<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
				<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png" />
				<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
				<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
				<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
				<link rel="manifest" href="/manifest.json" />
				<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
			</head>
			<body>
				<noscript>
					<strong>We're sorry but school-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
				</noscript>
				<div id=app></div>
				<script src=/js/chunk-vendors.4231c4a4.js></script>
				<script src=/js/app.1775439d.js></script>
			</body>
		</html>