// Place all the styles related to the Website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'fontawesome5';

@font-face {
	font-family: 'circleF';
	src: font-url('DjbPokeyDots-6G96.ttf')  format('truetype'), /* Safari, Android, iOS */
}
*{
	font-family: 'Dosis', sans-serif;
}

.header{
	position: relative;
	width: 100%;
	.header_nav{
		position: absolute;
		z-index: 20;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		background: #ffffff;
		background: #d2d2d27d;
		box-shadow: 0px 1px 9px 0px #8e8e8e;
		box-shadow: 0px 1px 9px 0px #8e8e8e85;
		ul{
			display: flex;
			list-style-type: none;
			flex-grow: 1;
			flex-wrap: wrap;
			margin: 2px auto;
			flex-direction: row-reverse;
			padding-left: 5px;
			a{
				color: inherit;
				label{
					padding: 5px 10px;
					margin: 2px 5px;
					cursor: pointer;
				}
			}
		}
	}
}
.custom-container1{
	background: #ffea98;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 30px 10px;
	margin-bottom: 10px;
	p{
		font-size: 1.2rem;
	}
}
.block-title{
	margin: 10px auto;
	padding-top: 20px;
	position: relative;
	width: 100%;
	padding-bottom: 30px;
	&:after{
		content: '';
		position: absolute;
		bottom: 13px;
		left: 50%;
		transform: translateX(-50%);
		height: 2px;
		background: #c1c1c1;
		width: 150px;
	}
}

#carouselExampleIndicators{
	.carousel-item{
		height: 100vh;
		img{
			position: absolute;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			left: 0px;
		}
	}
	h3.header_top_level1{
		font-weight: bold;
		text-align: center;
		z-index: 100;
		display: inline-block;
		position: absolute;
		padding: 5px 10px 10px 10px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #ffffff4a;
		color: #ef2828;
		font-size: 3rem;
		font-family: 'swap', cursive;
		text-shadow: 2px 2px 0px #0e0e0e;
		margin: 1rem auto;
		box-shadow: 0px 1px 7px 3px #1b1b1b5c;
		span.circleF{
			font-family: 'circleF', cursive;
			font-size: 2.1rem;
			color: #f9ed2f;
			color: #f9ed2fb5;
			text-shadow: 1px 1px 5px #77600d;
		}
	}
	.carousel-control-next, .carousel-control-prev{
		z-index: 11;
	}
	.splash{
		position: absolute;
		z-index: 10;
		background: black;
		opacity: 0.4;
		width: 100%;
		height: 100vh;
	}
}
.welcome-icon{
	margin-top: 20px;
	max-width: 100px;
	position: relative;
}
.intranet-label{
	background: #ce5959;
	border: 2px solid #a94242;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 2px 10px !important;
	box-shadow: 0px 0px 5px 0px #565656;
}

.list-icons-front{
	list-style-type: none;
	display: flex;
	padding-left: 0px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	>li{
		position: relative;
		width: 200px;
		height: 200px;
		margin: 10px;
		box-shadow: 1px 1px 4px 2px #989898;
		>div{
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			>img{
				position: absolute;
				&.img_vertical{
					width:100%;
					top: 50%;
					left: 0px;
					transform: translateY(-50%);
				}
				&.img_horizontal{
					height:100%;
					top: 0px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}
#image_view_block{
		position: relative;
		width: 100%;
		text-align: center;
	>img{
		position: relative;
			width: 100%;
			max-width: 700px;
			box-shadow: 2px 2px 12px 2px #828282;
			border: 2px solid #ffffff;
			border-radius: 15px;
	}
}
div.intranet-steps{
	font-size: 20px;
	text-align: left;
}
footer{
	background: black;
	padding: 30px;
	a{
		color: white;
		text-decoration: none;
		&:hover, &:active, &:visited{
			color: white;
			text-decoration: none;
		}
	}
	.row{
		>div{
			margin-bottom: 10px;
			text-align: center;
			color: white;
		}
	}
	.circle-icon{

		width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid white;
			margin: 0px auto 20px auto;
			display: flex;
			align-items: center;
			justify-content: center;
		i{
			color:white;
		}
	}
}
img{
	&.intranet_steps{
		position: relative;
			width: 100%;
			border: 3px solid white;
			box-shadow: 2px 2px 10px 0px #7f7f7f;
			margin-bottom: 20px;
	}
}

.user {
	@extend %fa-icon;
	@extend .fas;

	&:before {
		content: fa-content($fa-var-user);
	}
}


@media(max-width: 990px){
	#carouselExampleIndicators{
		.carousel-item{
			max-height: 400px;
		}
		.splash{
			max-height: 400px;
		}
		h3.header_top_level1{
			font-size: 2rem;
			span.circleF{
				font-size: 1.6rem;
			}
		}
	}
}
@media(max-width: 800px){
	#carouselExampleIndicators{
		h3.header_top_level1{
			width: 60%;
			span.circleF{
			}
		}
	}
}
@media(max-width: 700px){
	#carouselExampleIndicators{
		.carousel-item{
			max-height: 350px;
		}
		.splash{
			max-height: 350px;
		}
	}
}
@media(max-width: 600px){
	#carouselExampleIndicators{
		.carousel-item{
			max-height: 200px;
		}
		.splash{
			max-height: 200px;
		}
		h3.header_top_level1{
			font-size: 1.6rem;
			span.circleF{
				font-size: 1.3rem;
			}
		}
	}
}