<header class="header">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		
		<h3 class="header_top_level1">
			<span>El </span><span class="circleF">J</span><span>ardín de </span><span class="circleF">E</span><span>lita</span>
		</h3>
		<div class="splash"></div>
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<%= image_tag "website/web_background7.jpg" %>
			</div>
			<div class="carousel-item ">
				<%= image_tag "website/web_background3.jpg" %>
			</div>
			<div class="carousel-item">
				<%= image_tag "website/web_background4.jpg" %>
			</div>
			<div class="carousel-item">
				<%= image_tag "website/web_background5.jpg" %>
			</div>
			<div class="carousel-item">
				<%= image_tag "website/web_background6.jpg" %>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<div class="header_nav">
		<div class="container">
			<nav>
				<ul>
					<li>
						<a href="#intranet_how_to">
							<label class="intranet-label">Intranet</label>
						</a>
					</li>
					<li>
						<a href="#cc_nosotros">
							<label>Nosotros</label>
						</a>
					</li>
					<li>
						<a href="#">
							<label>Inicio</label>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<div class="custom-container1">
	<%= image_tag "logo-180x180.png", class: "welcome-icon" %>
	<h5 id="cc_nosotros" class="block-title">Bienvenido a <%= t :web_title%></h5>
	<div class="container">
		<p>
			Nuestro centro educativo nace como propuesta para contribuir 
			en la educación en nuestra zona.
		</p>
		<p>
			Nos ha permitido conocer a nuestros niños y elaborar propuestas de 
			mejora durante los años aplicando actividades comunes y nuevas en beneficio de ellos
		</p>
	</div>
</div>
<div class="container">
	<h5 style="width: 100%;text-align:center;">Algunas fotos de los años 2019 - 2018 - 2017</h5>
	<ul class="list-icons-front">
	  <% @images_thumb.each do |icon| %>
	      <li>
	      	<div class="block-icon" image-src='<%= image_path icon[:url] %>'>
						<%= image_tag icon[:url_thumb], class: ( icon[:dim][0] < icon[:dim][1] ? 'img_vertical' : 'img_horizontal' ) %>
	      	</div>
	      </li>
	  <% end %>
	</ul>
</div>
<div class="custom-container1">
	<h5 id="intranet_how_to" class="block-title">Cómo ingresar a la intranet</h5>
	<div class="container intranet-steps">
		<p>
			Nuestro centro educativo cuenta con un sistema intranet 
			donde los alumnos podrán revisar los materiales de clases, tareas, 
			incluso videos debido a la crisis sanitaria del COVID-19
		</p>
		<p>Aquí le explicamos cómo ingresar y ver los temas de los cursos</p>
		<div class="row">
			<div class="col-lg-5 col-md-5">
				<h3>Paso 1:</h3>
				Usted debe ingresar a 
				<a 
					href="http://intranet.eljardindeelita.com" 
					target="_blank">este enlace(Click aquí)</a> 
				e ingresar su usuario y contraseña.
				<p>
					Si tipea un usuario y contraseña incorrecta usted no podrá ingresar
				</p>
			</div>
			<div class="col-lg-7 col-md-7">
				<%= image_tag("intranet/sel1.png", class: "intranet_steps")%>
			</div>		
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-5">
				<h3>Paso 2:</h3>
				Una vez identificado, el sistema le mostrará 
				la siguiente pantalla. 
				<div>
					En este caso tenemos 3 módulos, para ver las clases y/o tareas relacionadas a 
					un curso en particular, usted 
					deberá ingresar al segundo módulo clickeando 
					el botón <div class="btn btn-success btn-sm">Ingresar</div> 
					apuntado por la 
					flecha en rojo
				</div>
			</div>
			<div class="col-lg-7 col-md-7">
				<%= image_tag("intranet/sel2.png", class: "intranet_steps")%>
			</div>		
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-5">
				<h3>Paso 3:</h3>
				<p>
					Para visualizar las clases y sus respectivos materiales debemos clickear 
					la opción tal cómo se muestra en el siguiente cuadro.
				</p>
				<p>
					Seleccionamos la actividad de tipo "Clases y/o materiales relacionadas al curso" para 
					filtrar sólo este tipo de actividades.
				</p>
				<div>
					Una vez filtrado los registros podremos ver el contenido clickeando el botón 
					<div class="btn btn-outline-primary">Ampliar</div>
				</div>
			</div>
			<div class="col-lg-7 col-md-7">
				<%= image_tag("intranet/sel3.png", class: "intranet_steps")%>
			</div>		
		</div>
		<div class="row">
			<div class="col-lg-5 col-md-5">
				<h3>Paso 4:</h3>
				<div>
					Al clickear el botón <div class="btn btn-outline-primary">Ampliar</div> 
					le aparecerá un cuadro como muestra la imagen, con un contenido textual, un video explicativo 
					y materiales en formato PDF que están marcados en el rectángulo bordeado de color rojo.
				</div>
				<p>
					Usted deberá conversar con el profesor(a) sobre el medio a utilizar para que envíe la 
					tarea o ejercicios que su niño deba realizar.
				</p>
			</div>
			<div class="col-lg-7 col-md-7">
				<%= image_tag("intranet/sel4.png", class: "intranet_steps")%>
			</div>		
		</div>
	</div>
</div>
<div 
	class="modal fade" 
	id="image_view" 
	tabindex="-1" 
	role="dialog" 
	aria-labelledby="image_view_title" 
	aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 
        	class="modal-title" 
        	id="image_view_title">Imagen</h5>
        <button 
        	type="button" 
        	class="close" 
        	data-dismiss="modal" 
        	aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="image_view_block">
        	<img src="" alt="none">
        </div>
      </div>
      <div class="modal-footer">
        <button 
        	type="button" 
        	class="btn btn-dark btn-sm" 
        	data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<footer>
	<div class="row">
		<div class="col-lg-6 col-md-6">
			<div class="circle-icon">
				<i class="fas fa-home"></i>
			</div>
			<div>
				Sector 2, Grupo 20, Manzana G, Lote 8
			</div>
			<div>
				Villa el Salvador, Lima.
			</div>
		</div>
		<div class="col-lg-6 col-md-6">
			<a href="https://fb.com/eljardindeelita">
				<div class="circle-icon">
					<i class="fab fa-facebook-f"></i>
				</div>
				<span>
					FB/eljardindeelita
				</span>
			</a>
		</div>
	</div>
</footer>
